.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
.env
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
include/data/*
env/
logs/
.astro/config.yaml
dags/__pycache__/
plugins/



